$myMargin: 0px;
$myColor: #9197ce;
$myWidth: 600px;
$myBorder: 5px solid #bbbdd0;
$myBackground: lightgrey;
$myFont: Times New Roman;

h1 {
	margin: $myMargin;
	font: $myFont;
	color: $myColor;
	border-left: 10px solid lightgrey;
}
h2 {
	margin: $myMargin;
	border-left: 10px solid #bbbdd0;
	font: $myFont;
	font-size: 40px;
	font-weight: normal;
	background-color: #bbbdd0;
}
h3 {
	border: 5px solid lightgrey;
	margin: $myMargin;
	background-color: $myColor;
	font-weight: normal;
	font-size: 35px;
	text-align: center;
}
p {
	margin: $myMargin;
	font: $myFont;
	text-align: center;
}
body {
	margin: $myMargin;
	background-color: $myBackground;
}
a {
	color: black;
}